<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Safe</title>
    <link href='http://fonts.googleapis.com/css?family=Nixie+One|Quicksand:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>

    <div id ="title">
      <header>
        <div class="row">
<!--          <span class='back-btn glyphicon glyphicon-arrow-left ' style="display:none;font-size:12px"></span> -->
          <h1 class="" align="center" style="display:block"> Note Safe</h1>
          <div class="back-btn" style="">&lt; Back</div>
        </div>
      </header>
    </div>
 
    <div class="wrapper slide current-slide" id="welcome-slide">
      <form>
        <button type="button" class="create-btn">Create</button>
      </br>
        <button type="button" class="signIn-btn">Sign In</button>
      </form>
    </div>
  

    <div class= "wrapper slide" id="create-slide">
      <form>
        <input type="text" placeholder="Username" id="name" name="user_name">
        <input type="password" placeholder="Password" id="password" name="user_password">
        <button type="button" class="submit-creds">Create</button>
      </form>
    </div>
  

    <div class= "wrapper slide" id="login-slide">
      <form>
        <input type="text" placeholder="Username" id="name" name="user_name">
        <input type="password" placeholder="Password" id="password" name="user_password">
        <button type="button" class="submit-creds">Sign In</button>
      </form>
    </div>
    

    <div class= "wrapper slide" id="secretkeyinput-slide">
      <form>
        <h3 align="center">Enter your secret key</h3>
        <textarea style="resize:none" id="secretkeyinput" placeholder="Copy and paste your secret key here"></textarea>
        <button type="button" class="submit-creds">Submit</button>
      </form>
    </div>
  

    <div class= "wrapper slide" id="secretkey-slide">
      <form>
        <h3 align="center">Save your secret key</h3>
        <textarea style="resize:none" id="secretkey"></textarea>
        <label>Make sure you save your key. To ensure maximum security, once the secret key is lost, it will be gone forever. Below are some services where you can store you secret key.</label>
          <a href="http://dropbox.com"><img src ="{{ url_for('static', filename='img/dropbox.png') }}" alternate="Dropbox Logo" class="logos"></a>
          <a href="http://drive.google.com"><img src ="{{ url_for('static', filename='img/googledrive.png') }}" alternate="Google Drive Logo" class="logos"></a>
          <a href="http://gmail.com"><img src ="{{ url_for('static', filename='img/gmail.png') }}" alternate="gmail Logo" class="logos"></a>
          <a href="http://icloud.com"><img src ="{{ url_for('static', filename='img/icloud.png') }}" alternate="iCoud Logo" class="logos"></a>
        <p></p>
        <button type="button" id="continue">Continue</button>
      </form>
    </div>

    
    <!-- New note (SUBMIT) -->
    <div class="wrapper slide" id="newNote-slide">
      <form> 
        <input type="text" class="form-control" id="title" placeholder="Title">
        <textarea style="resize:none" id="note" placeholder="Enter note here" rows="6"></textarea>
          

            <button type="button" class="submit">Submit</button>
          </br>
            <button type="button" class="cancel">Cancel</button>
      </form>     
    </div>
    
    <!-- Update/edit an existing note -->
    <div class="wrapper slide" id="texteditor-slide">
      <form> 
        <input type="text" class="form-control" id="title" placeholder="Title">
        <textarea style="resize:none" name="edit_note" id="note" placeholder="Edit note" rows="6"></textarea>
        <div>
          <button type="button" class="update">Update</button>
          </br>
          <button type="button" class="cancel">Cancel</button>
        </div>
      </form>
    </div>

    
    
    <!-- NoteSafe main screen thing -->
    <div class="showinline slide wrapper" id="explorer-slide">
      <div class="row" style="margin: 0 auto; display:inline-table">
        <!-- <div class="col-xs-2 col-sm-2">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      
        <div class="col-xs-8 col-sm-8">
          <h1>Note Safe</h1>        
        </div>
      
        <div class="col-xs-2 col-sm-2">
          <span class="glyphicon glyphicon-log-out logout-btn"></span>
        </div> -->

        <div style="margin: 0 auto;width:332px;">

          <span class="glyphicon glyphicon-plus add-btn"></span>
          <span class="glyphicon glyphicon-log-out logout-btn"></span>

      </div>

      </div> 
      


      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">AW YISS MOTHA FUCKIN NOTES</div>
      
        <!-- List group -->
        <ul class="list-group">
          <!-- When adding a new item, add <li class="list-group-item"> -->
        </ul>
      </div>
  </div>
      <!--
      <div class="footer">
        <div class="container">
          <p class="text-muted">FAQ</p>
        </div>
      </div>
      -->
      <footer><span class="FAQ-btn">FAQ</span>
      </footer>

<!--
    <div class="navbar navbar-default navbar-fixed-bottom" id="FAQ-slide" role="navigation">
      <div class="container FAQ-btn">
        <p class="text-muted">FAQ</p>
      </div>
    </div>

    -->
    
    <!--
    <div id="footerCenter" class="FAQ-btn">
      <footer>
        <p align="center">FAQ</p>
      </footer>
    </div>
    -->
    
    
        <!-- FAQ page -->
    <div id="FAQ-slide" class="slide row">
     <div class=" col-xs-2 col-sm-3"></div>
      <div class=" col-xs-8 col-sm-6">
        <h1><b>FAQ</h1>
        <h3>How does Note Safe work?</h3>
        <p>When users create an account, he/she will be given a secret key. Files submitted to the server will be encrypted with a public key. The encrypted file will be stored on the server and the only way to decrypt the file is with the user's secrete key. Note Safe will only ever store encrypted information.</p>
      </br>
        <h3>What are Note Safe's limitations?</h3>
        <p>Because Note Safe is still in its development stage, it only accepts text and it does not support uploads. The accepted size is limited to 300 words per note. Ideally, with further development, Note Safe will support bigger files, uploading and other types of files. There is no limit for how many notes a user can upload.</p>
      </br>
        <h3>If I lose my password, can I change my password?</h3>
        <p>Note Safe does not store any personal information, there is no way to change your password.</p>
      </br>
        <h3>If I lose my secret key, can I recover it?</h3>
        <p>Note Safe never saves user's secret key so once the secret key is lost, it is impossible to recover it. Though this may be an inconvenience, it ensures extra security for users. Please keep your secret key safe and do not lose it.</p>
      </br>
        <h3>How long will documents stay on the server?</h3>
        <p>Documents will stay on the server for an unlimited amount of time, given users log in at least once every few years.</p>
      </br>
        <h3>How and where are stuff stored?</h3>
        <p>Encrypted data is stored in our server. We will never store any decrypted data.</p>
      </br>
        <h3>Can I allow access to multiple users?</h3>
        <p>As long as all users have the username, password, and secret key, multiple users can access the files.</p>
      </br>
        <h3>How can I remove files from this site?</h3>
        <p>Double clicking on a file will bring up a delete dialogue confirming the deletion. Once a file is deleted, the encrypted file will be wiped from our server. </p>
      </br>
      </br>

      </div>
    </div>
    
    
    <!-- UPDATED banner; toggle hidden to display -->
 <div id="cancelbanner" style= "background-color:#e48282;">
  <h2>Cancelled</h2>
</div>
 <div id="updatebanner" style= "background-color:#41c066;">
  <h2>Updated</h2>
</div>
 <div  id="submitbanner"style= "background-color:#41c066;">
  <h2>Submitted</h2>
</div>
  <!-- Scripts -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
